

body, html, h1, h2, h3, h4, h5, h6, p, table {
    padding: 0;
    margin: 0;
}

body {
    font-family: verdana;
    background-color: #ECF0F1;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
}

.wrapper nav div {
    display: inline-block;
}

header {
    background: linear-gradient(tomato, #ECF0F1);
    padding: 10px;
}


header h1 {
    display: inline-block;
}

footer {
    background-color: lightgray;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0.8;
}

footer div {
    font-size: 0.7em;
    font-style: italic;
}

date {

}

/* Table */
table {   
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    text-align: center;
}

/* Main stats table */ 

table#main {
    margin: 20px auto;
}

#main td {
    width: 50px;
    
}

#main tbody th {
    text-align: left;
    padding: 5px 8px;
}

/* Sortable head labels */
#main thead tr:nth-child(2) th:nth-child(n+2) {
    cursor: pointer;
}

.sort {
    background-color: lightsteelblue;
    color: black;
}

.desc:after {
    content: "\25BD";
}

.asc:after {
    content: "\25B3";
}

/* ---- */

/* Hide teamId col and stat_name row */
#main thead th:nth-child(2),
#main tbody td:first-of-type,
#main tbody tr:first-child {
    display: none;
}

/* Table header borders */
#main thead tr:nth-child(2) th:nth-child(n+3) {
    border-top: thin solid white;
}

#main thead tr:nth-child(2) th:nth-child(n+3),
#main thead tr:nth-child(2) th:nth-child(3),
#main thead tr:first-child th:nth-child(n+3) {
    border-left: thin solid white;
}

#main tr {
    background-color: #f8f8f2;
}

#main tr:nth-child(2n) {
    background-color: #f2f2e8;
}

#main thead, th {
    background-color: steelblue;
    color: white;
}

button {
    background-color: #f8f8f2;
    box-shadow: 1px 1px 1px black;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

button:hover {
    color: white;
    background: darkgrey;
    cursor: pointer;
}

button:active {
    outline: none;
    box-shadow: none;
    position: relative;
    left: 2px;
    top: 2px;
}

button:focus {
    outline: 0;
}

select {
    border: thin solid steelblue;
    font-size: 0.8em;
    padding: 10px;
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 800px;
    }
}

@media only screen and (max-width: 800px) {
    #main tbody th span {
        display: none;
    }

}

@media only screen and (max-width: 480px) {
    .wrapper nav div {
        display: block;
    }

    header h1 {
        font-size: 1.5em;
    }
}